body {
    background-color: whitesmoke;
}

div  {
    padding: 10px;
}

#gui {
    padding: 20px;
}

/* STL */
#vector, #flist, #list, #stack, #queue {
    border-color: 2px solid black;
}

/* Nodes */
.vector-node, .flist-node, .list-node, .stack-node, .queue-node {
    background-color: #f2f2f2;
    padding: 5px;
    border: 1px solid black;
    border-radius: 12.5%;
    margin-bottom: 5px;
    font-size: 2em;
}

/* node-address */
.vector-node-address, .list-node-address, .flist-node-address, .stack-node-address, .queue-node-address {
    color: #666;
    font-size: 0.8em;
}

/* Nodes Selected */
.flist-node.selected, .list-node.selected, .vector-node.selected {
    background-color: lightcoral;
    padding: 5px;
    border: 1px solid black;
    border-radius: 12.5%;
    margin-bottom: 5px;
}