body {
    background-color: whitesmoke;
}

div {
    padding: 10px;
}

#gui {
    padding: 20px;
}

.tab-content {
    max-width: 1230px;
}

.list-node, .queue-node, .stack-node, .vector-node {
    font-size: 2em;
}

/* Vector */
    .vector-node {
        background-color: #f2f2f2;
        padding: 5px;
        border: 1px solid black;
        margin-bottom: 5px;
    }

    .vector-node-address {
        color: #666;
        font-size: 0.8em;
    }

/* Lists */
    .flist-node.selected, .list-node.selected, .vector-node.selected {
        background-color: lightcoral;
        padding: 5px;
        border: 1px solid black;
        margin-bottom: 5px;
    }
    /* Double Linked */
    .list-node {
        background-color: #f2f2f2;
        padding: 5px;
        border: 1px solid black;
        margin-bottom: 5px;
    }

    .list-node-address {
        color: #666;
        font-size: 0.8em;
    }

    /* Simple Linked */
    .flist-node {
        background-color: #f2f2f2;
        padding: 5px;
        border: 1px solid black;
        margin-bottom: 5px;
    }

    .flist-node-address {
        color: #666;
        font-size: 0.8em;
    }

/* Stack */
.stack-node {
    background-color: #f2f2f2;
    padding: 5px;
    border: 1px solid black;
    margin-bottom: 5px;
}

.stack-node-address {
    color: #666;
    font-size: 0.8em;
}

/* Queue */
.queue-node {
    background-color: #f2f2f2;
    padding: 5px;
    border: 1px solid black;
    margin-bottom: 5px;
}

.queue-node-address {
    color: #666;
    font-size: 0.8em;
}